body {
    font-family: Arial, sans-serif;
    background-color: #eae2d6;
    margin: 0;
    padding: 0 20px;
    color: #5a4632;
}
.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.85);
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.menu {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}

    .menu a {
        color: white;
        text-decoration: none;
        margin: 0 10px;
    }

        .menu a:hover {
            text-decoration: underline;
        }
h1 {
    font-family: 'Playfair Display', serif;
    font-size: 2.2em;
    color: #5a4632;
    margin-top: 20px;
    text-align: center;
}

p {
    line-height: 1.8;
    margin-bottom: 20px;
    font-size: 1.1em;
    text-align: justify;
}


